

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>
    <link href="~/Style/home/home.css?v=1.0" rel="stylesheet" />
</head>
<body>
   
    <div class='home-container'>
        <div class="home-flex-container">
            <div class="home-main-content">
                <h1 class="home-main-title"> Coffee</h1>
                <p class="home-main-description">Chào mừng bạn đến với  Coffee, nơi kết nối đam mê cà phê và không gian đẳng cấp.</p>
                <button to='/sanpham' class="home-purchase-button">Mua Ngay</button>
            </div>
            <div class='home-image-container'>
                <div class="home-flex-container">
                    <div class="home-image-background"></div>
                    <img src="~/Img/main/goicaphe.png" alt="" class="home-image" />
                </div>
            </div>
        </div>
        <p class="home-footer-text">Coffee 2023-2024</p>
    </div>
    <div class="home-container-introduce">
        <h3 class="home-title">Kết Nối Với Chúng Tôi</h3>
        <p class="home-description">Chào mừng bạn đến với quán cà phê độc đáo và ấn tượng -  Coffee! Chúng tôi tự hào là địa điểm mang đến không gian thoải mái và trải nghiệm cà phê độc đáo tại trung tâm thành phố. Với tên thương hiệu "HAN," chúng tôi kết hợp không khí ấm cúng và phong cách hiện đại, tạo nên một không gian đặc biệt, nơi khách hàng có thể thư giãn và tận hưởng hương vị cà phê tinh tế.</p>
    </div>
    <div class="home-footer-container">
        <h3 class="home-footer-title">Sản Phẩm Mới</h3>
        <div class="home-footer-flex-container">
            <div class="home-footer-product-card">
                <div>
                    <img class="home-footer-product-image" src="~/Img/product/caphesualy.png" alt="Cà Phê Sữa" />
                </div>
                <div class="home-footer-product-info">
                    <p class="home-footer-product-name">Cà Phê Sữa</p>
                    <p>45.000đ ~ 60.000đ</p>
                </div>
            </div>
            <div class="home-footer-product-card">
                <div>
                    <img class="home-footer-product-image" src="~/Img/product/capheden.png" alt="Cà Phê Sài Gòn" />
                </div>
                <div class="home-footer-product-info">
                    <p class="home-footer-product-name">Cà Phê Sài Gòn</p>
                    <p>65.000đ ~ 80.000đ</p>
                </div>
            </div>
            <div class="home-footer-product-card">
                <div>
                    <img class="home-footer-product-image" src="~/Img/product/caphemuoi.png" alt="Cà Phê Muối" />
                </div>
                <div class="home-footer-product-info">
                    <p class="home-footer-product-name">Cà Phê Muối</p>
                    <p>55.000đ ~ 70.000đ</p>
                </div>
            </div>
        </div>
        <button to='/sanpham' class="home-footer-button">Xem Thêm</button>
        <div class="home-footer-store-flex">
            <div class="home-footer-store-image-main">
                <img  src="~/Img/main/cuahangmain.png" alt="Cửa Hàng Chính" />
                <div class="home-footer-border"></div>
            </div>
            <div class="home-footer-store-image-secondary">
                <p class="home-footer-store-title">Cửa Hàng</p>
                <img class="footer-store-image-secondary" src="~/Img/main/cuahangphu.png" alt="Cửa Hàng Phụ" />
                <div class="home-footer-border"></div>
            </div>
        </div>
    </div>

</body>
</html>
